body {
  width: 100vw;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
}

.header-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: gray;
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-family: RobotoThin;
  font-size: 30px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100vw;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}
